---
title: Home Page
description: Home Page description
pageName: homePage
---

{% extends 'layouts/_page-default.twig' %}
{% block content %}
	<main>
		{% include 'pages/home/_hero.twig' %}
	</main>
{% endblock %}
