---
title: list Page
description: list Page description
pageName: listPage
---

{% extends 'layouts/_page-default.twig' %}
{% block content %}

<div class="wrappper">
	<ul class="pages-list-nav">
			<!-- <li><a href="default.html">default</a></li> -->
			<li><a href="home.html">Home</a></li>
			<li><a href="name.html">name</a></li>

			<li><a href="contact.html">contact</a></li>
			<li><a href="privacy.html">privacy</a></li>
			<li><a href="404.html">404</a></li>
	</ul>
</div>

{% endblock %}
