html,
body {
	height: 100%;
}

html,
body {
	font-family: $font1;
	font-weight: 400;
	color: $c-black;
}

main {
	width: 100%;
}

video,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

img {
	display: inline-block;
	max-width: 100%;
	height: auto;
}

button,
a,
.is-cursor,
[type *= "submit"] {
	cursor: pointer;
}
