h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	display: block;
	margin-bottom: 30px;
}

.h1, h1 {

}

.h2, h2 {

}

.h3, h3 {

}

.h4, h4 {

}

.h5, h5 {

}

.h6, h6 {

}

.txt-bl {
  p, ul, ol, li {
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  b, strong {
    font-weight: 700;
  }

  i, em {
    font-style: italic;
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
